body{
	
	background-image: url(../img/back2.jpg);
	background-size: 100%;
}
.container{
	background-color: black;
	color: #FFA000;
	font-family: 'Rubik', sans-serif;
}
h1{
	text-align: center;
	margin-top: 0;
	padding: 40px;
}
form{
	text-align: center;
	background-color: #2C2D2D;
	color: #FAF9F3;
	border-radius: 5px;
	height: 65px;
}
.center{
	text-align: center;
}
button:hover{
	background-color: #FCE55E;
	color: black;
}

#listTask li {
  padding: 20px 20px;
  border-bottom: 1px solid #EEEEEE;
}

#check{
	position: static;
	opacity: 0.8;
}
.done{
	text-decoration:line-through;
	opacity: 0.5;

}
.deleted {
  color: red;
  margin-left: 10px;
  float: right;
  padding: 4px;
  cursor: pointer;
}